@import "tailwindcss";

@theme {
  --font-open-sans: "Open Sans", sans-serif;
  --font-parkinsans: "Parkinsans", sans-serif;
}

:root {
  font: 1rem var(--font-open-sans);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
}